*{
    font-family: Arial, sans-serif;
}

.big-modal .modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}
.big-modal .modal-dialog {
	position: fixed;
	margin: 2%;
	padding: 0;
	height: 92%;
    min-width: 96%;
}
.big-modal .modal-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.big-modal .modal-content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.big-modal .modal-body {
	position: absolute;
 	top: 50px;
	bottom: 0;
	font-size: 15px;
	overflow: auto;
        margin-bottom: 60px;
 	padding: 0 15px 0;
	width: 100%;
        margin-top: 25px;
}
.big-modal .modal-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60px;
    padding: 10px;
    background: #f1f3f5;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	background: #f1f3f5;
	border-left: 1px solid darken(#f1f3f5, 10%);
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background: darken(#f1f3f5, 20%);
}
