@mixin bp-mobile {
  @media (max-width: #{$max-width}) {
    @content;
  }
}

.d-flex {
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: -moz-box!important;
  display: -webkit-flex!important;
  display: flex!important
}

.d-inline-flex {
  display: -webkit-inline-box!important;
  display: -ms-inline-flexbox!important;
  display: inline-flex!important
}

@media(min-width:576px) {
  .d-sm-none {
      display: none!important
  }
  .d-sm-inline {
      display: inline!important
  }
  .d-sm-inline-block {
      display: inline-block!important
  }
  .d-sm-block {
      display: block!important
  }
  .d-sm-table {
      display: table!important
  }
  .d-sm-table-row {
      display: table-row!important
  }
  .d-sm-table-cell {
      display: table-cell!important
  }
  .d-sm-flex {
      display: -webkit-box!important;
      display: -ms-flexbox!important;
      display: flex!important
  }
  .d-sm-inline-flex {
      display: -webkit-inline-box!important;
      display: -ms-inline-flexbox!important;
      display: inline-flex!important
  }
}

@media(min-width:768px) {
  .d-md-none {
      display: none!important
  }
  .d-md-inline {
      display: inline!important
  }
  .d-md-inline-block {
      display: inline-block!important
  }
  .d-md-block {
      display: block!important
  }
  .d-md-table {
      display: table!important
  }
  .d-md-table-row {
      display: table-row!important
  }
  .d-md-table-cell {
      display: table-cell!important
  }
  .d-md-flex {
      display: -webkit-box!important;
      display: -ms-flexbox!important;
      display: flex!important
  }
  .d-md-inline-flex {
      display: -webkit-inline-box!important;
      display: -ms-inline-flexbox!important;
      display: inline-flex!important
  }
}

.flex-row {
  -webkit-box-orient: horizontal!important;
  -ms-flex-direction: row!important;
  flex-direction: row!important
}

.flex-column {
  -webkit-box-orient: vertical!important;
  -ms-flex-direction: column!important;
  flex-direction: column!important
}

.flex-column-reverse,
.flex-row-reverse {
  -webkit-box-direction: reverse!important
}

.flex-row-reverse {
  -webkit-box-orient: horizontal!important;
  -ms-flex-direction: row-reverse!important;
  flex-direction: row-reverse!important
}

.flex-column-reverse {
  -webkit-box-orient: vertical!important;
  -ms-flex-direction: column-reverse!important;
  flex-direction: column-reverse!important
}

.flex-wrap {
  -ms-flex-wrap: wrap!important;
  flex-wrap: wrap!important
}

.flex-nowrap {
  -ms-flex-wrap: nowrap!important;
  flex-wrap: nowrap!important
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse!important;
  flex-wrap: wrap-reverse!important
}

.flex-fill {
  -webkit-box-flex: 1!important;
  -ms-flex: 1 1 auto!important;
  flex: 1 1 auto!important
}

.flex-grow-0 {
  -webkit-box-flex: 0!important;
  -ms-flex-positive: 0!important;
  flex-grow: 0!important
}

.flex-grow-1 {
  -webkit-box-flex: 1!important;
  -ms-flex-positive: 1!important;
  flex-grow: 1!important
}

.flex-shrink-0 {
  -ms-flex-negative: 0!important;
  flex-shrink: 0!important
}

.flex-shrink-1 {
  -ms-flex-negative: 1!important;
  flex-shrink: 1!important
}

.justify-content-start {
  -webkit-box-pack: start!important;
  -ms-flex-pack: start!important;
  justify-content: flex-start!important
}

.justify-content-end {
  -webkit-box-pack: end!important;
  -ms-flex-pack: end!important;
  justify-content: flex-end!important
}

.justify-content-center {
  -webkit-box-pack: center!important;
  -ms-flex-pack: center!important;
  -moz-box-pack: center!important;
  -webkit-justify-content: center!important;
  justify-content: center!important
}

.justify-content-between {
  -webkit-box-pack: justify!important;
  -ms-flex-pack: justify!important;
  justify-content: space-between!important
}

.justify-content-around {
  -ms-flex-pack: distribute!important;
  justify-content: space-around!important
}

.align-items-start {
  -webkit-box-align: start!important;
  -ms-flex-align: start!important;
  align-items: flex-start!important
}

.align-items-end {
  -webkit-box-align: end!important;
  -ms-flex-align: end!important;
  align-items: flex-end!important
}

.align-items-center {
  -webkit-box-align: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
  -webkit-align-items: center!important;
  -moz-box-align: center!important
}

.align-items-baseline {
  -webkit-box-align: baseline!important;
  -ms-flex-align: baseline!important;
  align-items: baseline!important
}

.align-items-stretch {
  -webkit-box-align: stretch!important;
  -ms-flex-align: stretch!important;
  align-items: stretch!important
}

.align-content-start {
  -ms-flex-line-pack: start!important;
  align-content: flex-start!important
}

.align-content-end {
  -ms-flex-line-pack: end!important;
  align-content: flex-end!important
}

.align-content-center {
  -ms-flex-line-pack: center!important;
  align-content: center!important
}

.align-content-between {
  -ms-flex-line-pack: justify!important;
  align-content: space-between!important
}

.align-content-around {
  -ms-flex-line-pack: distribute!important;
  align-content: space-around!important
}

.align-content-stretch {
  -ms-flex-line-pack: stretch!important;
  align-content: stretch!important
}

.align-self-auto {
  -ms-flex-item-align: auto!important;
  -ms-grid-row-align: auto!important;
  align-self: auto!important
}

.align-self-start {
  -ms-flex-item-align: start!important;
  align-self: flex-start!important
}

.align-self-end {
  -ms-flex-item-align: end!important;
  align-self: flex-end!important
}

.align-self-center {
  -ms-flex-item-align: center!important;
  -ms-grid-row-align: center!important;
  align-self: center!important
}

.align-self-baseline {
  -ms-flex-item-align: baseline!important;
  align-self: baseline!important
}

.align-self-stretch {
  -ms-flex-item-align: stretch!important;
  -ms-grid-row-align: stretch!important;
  align-self: stretch!important
}

@media(min-width:576px) {
  .flex-sm-column,
  .flex-sm-row {
      -webkit-box-direction: normal!important
  }
  .flex-sm-row {
      -webkit-box-orient: horizontal!important;
      -ms-flex-direction: row!important;
      flex-direction: row!important
  }
  .flex-sm-column {
      -webkit-box-orient: vertical!important;
      -ms-flex-direction: column!important;
      flex-direction: column!important
  }
  .flex-sm-row-reverse {
      -webkit-box-orient: horizontal!important;
      -webkit-box-direction: reverse!important;
      -ms-flex-direction: row-reverse!important;
      flex-direction: row-reverse!important
  }
  .flex-sm-column-reverse {
      -webkit-box-orient: vertical!important;
      -webkit-box-direction: reverse!important;
      -ms-flex-direction: column-reverse!important;
      flex-direction: column-reverse!important
  }
  .flex-sm-wrap {
      -ms-flex-wrap: wrap!important;
      flex-wrap: wrap!important
  }
  .flex-sm-nowrap {
      -ms-flex-wrap: nowrap!important;
      flex-wrap: nowrap!important
  }
  .flex-sm-wrap-reverse {
      -ms-flex-wrap: wrap-reverse!important;
      flex-wrap: wrap-reverse!important
  }
  .flex-sm-fill {
      -webkit-box-flex: 1!important;
      -ms-flex: 1 1 auto!important;
      flex: 1 1 auto!important
  }
  .flex-sm-grow-0 {
      -webkit-box-flex: 0!important;
      -ms-flex-positive: 0!important;
      flex-grow: 0!important
  }
  .flex-sm-grow-1 {
      -webkit-box-flex: 1!important;
      -ms-flex-positive: 1!important;
      flex-grow: 1!important
  }
  .flex-sm-shrink-0 {
      -ms-flex-negative: 0!important;
      flex-shrink: 0!important
  }
  .flex-sm-shrink-1 {
      -ms-flex-negative: 1!important;
      flex-shrink: 1!important
  }
  .justify-content-sm-start {
      -webkit-box-pack: start!important;
      -ms-flex-pack: start!important;
      justify-content: flex-start!important
  }
  .justify-content-sm-end {
      -webkit-box-pack: end!important;
      -ms-flex-pack: end!important;
      justify-content: flex-end!important
  }
  .justify-content-sm-center {
      -webkit-box-pack: center!important;
      -ms-flex-pack: center!important;
      justify-content: center!important
  }
  .justify-content-sm-between {
      -webkit-box-pack: justify!important;
      -ms-flex-pack: justify!important;
      justify-content: space-between!important
  }
  .justify-content-sm-around {
      -ms-flex-pack: distribute!important;
      justify-content: space-around!important
  }
  .align-items-sm-start {
      -webkit-box-align: start!important;
      -ms-flex-align: start!important;
      align-items: flex-start!important
  }
  .align-items-sm-end {
      -webkit-box-align: end!important;
      -ms-flex-align: end!important;
      align-items: flex-end!important
  }
  .align-items-sm-center {
      -webkit-box-align: center!important;
      -ms-flex-align: center!important;
      align-items: center!important
  }
  .align-items-sm-baseline {
      -webkit-box-align: baseline!important;
      -ms-flex-align: baseline!important;
      align-items: baseline!important
  }
  .align-items-sm-stretch {
      -webkit-box-align: stretch!important;
      -ms-flex-align: stretch!important;
      align-items: stretch!important
  }
  .align-content-sm-start {
      -ms-flex-line-pack: start!important;
      align-content: flex-start!important
  }
  .align-content-sm-end {
      -ms-flex-line-pack: end!important;
      align-content: flex-end!important
  }
  .align-content-sm-center {
      -ms-flex-line-pack: center!important;
      align-content: center!important
  }
  .align-content-sm-between {
      -ms-flex-line-pack: justify!important;
      align-content: space-between!important
  }
  .align-content-sm-around {
      -ms-flex-line-pack: distribute!important;
      align-content: space-around!important
  }
  .align-content-sm-stretch {
      -ms-flex-line-pack: stretch!important;
      align-content: stretch!important
  }
  .align-self-sm-auto {
      -ms-flex-item-align: auto!important;
      -ms-grid-row-align: auto!important;
      align-self: auto!important
  }
  .align-self-sm-start {
      -ms-flex-item-align: start!important;
      align-self: flex-start!important
  }
  .align-self-sm-end {
      -ms-flex-item-align: end!important;
      align-self: flex-end!important
  }
  .align-self-sm-center {
      -ms-flex-item-align: center!important;
      -ms-grid-row-align: center!important;
      align-self: center!important
  }
  .align-self-sm-baseline {
      -ms-flex-item-align: baseline!important;
      align-self: baseline!important
  }
  .align-self-sm-stretch {
      -ms-flex-item-align: stretch!important;
      -ms-grid-row-align: stretch!important;
      align-self: stretch!important
  }
}

@media(min-width:768px) {
  .flex-md-column,
  .flex-md-row {
      -webkit-box-direction: normal!important
  }
  .flex-md-row {
      -webkit-box-orient: horizontal!important;
      -ms-flex-direction: row!important;
      flex-direction: row!important
  }
  .flex-md-column {
      -webkit-box-orient: vertical!important;
      -ms-flex-direction: column!important;
      flex-direction: column!important
  }
  .flex-md-row-reverse {
      -webkit-box-orient: horizontal!important;
      -webkit-box-direction: reverse!important;
      -ms-flex-direction: row-reverse!important;
      flex-direction: row-reverse!important
  }
  .flex-md-column-reverse {
      -webkit-box-orient: vertical!important;
      -webkit-box-direction: reverse!important;
      -ms-flex-direction: column-reverse!important;
      flex-direction: column-reverse!important
  }
  .flex-md-wrap {
      -ms-flex-wrap: wrap!important;
      flex-wrap: wrap!important
  }
  .flex-md-nowrap {
      -ms-flex-wrap: nowrap!important;
      flex-wrap: nowrap!important
  }
  .flex-md-wrap-reverse {
      -ms-flex-wrap: wrap-reverse!important;
      flex-wrap: wrap-reverse!important
  }
  .flex-md-fill {
      -webkit-box-flex: 1!important;
      -ms-flex: 1 1 auto!important;
      flex: 1 1 auto!important
  }
  .flex-md-grow-0 {
      -webkit-box-flex: 0!important;
      -ms-flex-positive: 0!important;
      flex-grow: 0!important
  }
  .flex-md-grow-1 {
      -webkit-box-flex: 1!important;
      -ms-flex-positive: 1!important;
      flex-grow: 1!important
  }
  .flex-md-shrink-0 {
      -ms-flex-negative: 0!important;
      flex-shrink: 0!important
  }
  .flex-md-shrink-1 {
      -ms-flex-negative: 1!important;
      flex-shrink: 1!important
  }
  .justify-content-md-start {
      -webkit-box-pack: start!important;
      -ms-flex-pack: start!important;
      justify-content: flex-start!important
  }
  .justify-content-md-end {
      -webkit-box-pack: end!important;
      -ms-flex-pack: end!important;
      justify-content: flex-end!important
  }
  .justify-content-md-center {
      -webkit-box-pack: center!important;
      -ms-flex-pack: center!important;
      justify-content: center!important
  }
  .justify-content-md-between {
      -webkit-box-pack: justify!important;
      -ms-flex-pack: justify!important;
      justify-content: space-between!important
  }
  .justify-content-md-around {
      -ms-flex-pack: distribute!important;
      justify-content: space-around!important
  }
  .align-items-md-start {
      -webkit-box-align: start!important;
      -ms-flex-align: start!important;
      align-items: flex-start!important
  }
  .align-items-md-end {
      -webkit-box-align: end!important;
      -ms-flex-align: end!important;
      align-items: flex-end!important
  }
  .align-items-md-center {
      -webkit-box-align: center!important;
      -ms-flex-align: center!important;
      align-items: center!important
  }
  .align-items-md-baseline {
      -webkit-box-align: baseline!important;
      -ms-flex-align: baseline!important;
      align-items: baseline!important
  }
  .align-items-md-stretch {
      -webkit-box-align: stretch!important;
      -ms-flex-align: stretch!important;
      align-items: stretch!important
  }
  .align-content-md-start {
      -ms-flex-line-pack: start!important;
      align-content: flex-start!important
  }
  .align-content-md-end {
      -ms-flex-line-pack: end!important;
      align-content: flex-end!important
  }
  .align-content-md-center {
      -ms-flex-line-pack: center!important;
      align-content: center!important
  }
  .align-content-md-between {
      -ms-flex-line-pack: justify!important;
      align-content: space-between!important
  }
  .align-content-md-around {
      -ms-flex-line-pack: distribute!important;
      align-content: space-around!important
  }
  .align-content-md-stretch {
      -ms-flex-line-pack: stretch!important;
      align-content: stretch!important
  }
  .align-self-md-auto {
      -ms-flex-item-align: auto!important;
      -ms-grid-row-align: auto!important;
      align-self: auto!important
  }
  .align-self-md-start {
      -ms-flex-item-align: start!important;
      align-self: flex-start!important
  }
  .align-self-md-end {
      -ms-flex-item-align: end!important;
      align-self: flex-end!important
  }
  .align-self-md-center {
      -ms-flex-item-align: center!important;
      -ms-grid-row-align: center!important;
      align-self: center!important
  }
  .align-self-md-baseline {
      -ms-flex-item-align: baseline!important;
      align-self: baseline!important
  }
  .align-self-md-stretch {
      -ms-flex-item-align: stretch!important;
      -ms-grid-row-align: stretch!important;
      align-self: stretch!important
  }
}

@media(min-width:992px) {
  .flex-lg-column,
  .flex-lg-row {
      -webkit-box-direction: normal!important
  }
  .flex-lg-row {
      -webkit-box-orient: horizontal!important;
      -ms-flex-direction: row!important;
      flex-direction: row!important
  }
  .flex-lg-column {
      -webkit-box-orient: vertical!important;
      -ms-flex-direction: column!important;
      flex-direction: column!important
  }
  .flex-lg-row-reverse {
      -webkit-box-orient: horizontal!important;
      -webkit-box-direction: reverse!important;
      -ms-flex-direction: row-reverse!important;
      flex-direction: row-reverse!important
  }
  .flex-lg-column-reverse {
      -webkit-box-orient: vertical!important;
      -webkit-box-direction: reverse!important;
      -ms-flex-direction: column-reverse!important;
      flex-direction: column-reverse!important
  }
  .flex-lg-wrap {
      -ms-flex-wrap: wrap!important;
      flex-wrap: wrap!important
  }
  .flex-lg-nowrap {
      -ms-flex-wrap: nowrap!important;
      flex-wrap: nowrap!important
  }
  .flex-lg-wrap-reverse {
      -ms-flex-wrap: wrap-reverse!important;
      flex-wrap: wrap-reverse!important
  }
  .flex-lg-fill {
      -webkit-box-flex: 1!important;
      -ms-flex: 1 1 auto!important;
      flex: 1 1 auto!important
  }
  .flex-lg-grow-0 {
      -webkit-box-flex: 0!important;
      -ms-flex-positive: 0!important;
      flex-grow: 0!important
  }
  .flex-lg-grow-1 {
      -webkit-box-flex: 1!important;
      -ms-flex-positive: 1!important;
      flex-grow: 1!important
  }
  .flex-lg-shrink-0 {
      -ms-flex-negative: 0!important;
      flex-shrink: 0!important
  }
  .flex-lg-shrink-1 {
      -ms-flex-negative: 1!important;
      flex-shrink: 1!important
  }
  .justify-content-lg-start {
      -webkit-box-pack: start!important;
      -ms-flex-pack: start!important;
      justify-content: flex-start!important
  }
  .justify-content-lg-end {
      -webkit-box-pack: end!important;
      -ms-flex-pack: end!important;
      justify-content: flex-end!important
  }
  .justify-content-lg-center {
      -webkit-box-pack: center!important;
      -ms-flex-pack: center!important;
      justify-content: center!important
  }
  .justify-content-lg-between {
      -webkit-box-pack: justify!important;
      -ms-flex-pack: justify!important;
      justify-content: space-between!important
  }
  .justify-content-lg-around {
      -ms-flex-pack: distribute!important;
      justify-content: space-around!important
  }
  .align-items-lg-start {
      -webkit-box-align: start!important;
      -ms-flex-align: start!important;
      align-items: flex-start!important
  }
  .align-items-lg-end {
      -webkit-box-align: end!important;
      -ms-flex-align: end!important;
      align-items: flex-end!important
  }
  .align-items-lg-center {
      -webkit-box-align: center!important;
      -ms-flex-align: center!important;
      align-items: center!important
  }
  .align-items-lg-baseline {
      -webkit-box-align: baseline!important;
      -ms-flex-align: baseline!important;
      align-items: baseline!important
  }
  .align-items-lg-stretch {
      -webkit-box-align: stretch!important;
      -ms-flex-align: stretch!important;
      align-items: stretch!important
  }
  .align-content-lg-start {
      -ms-flex-line-pack: start!important;
      align-content: flex-start!important
  }
  .align-content-lg-end {
      -ms-flex-line-pack: end!important;
      align-content: flex-end!important
  }
  .align-content-lg-center {
      -ms-flex-line-pack: center!important;
      align-content: center!important
  }
  .align-content-lg-between {
      -ms-flex-line-pack: justify!important;
      align-content: space-between!important
  }
  .align-content-lg-around {
      -ms-flex-line-pack: distribute!important;
      align-content: space-around!important
  }
  .align-content-lg-stretch {
      -ms-flex-line-pack: stretch!important;
      align-content: stretch!important
  }
  .align-self-lg-auto {
      -ms-flex-item-align: auto!important;
      -ms-grid-row-align: auto!important;
      align-self: auto!important
  }
  .align-self-lg-start {
      -ms-flex-item-align: start!important;
      align-self: flex-start!important
  }
  .align-self-lg-end {
      -ms-flex-item-align: end!important;
      align-self: flex-end!important
  }
  .align-self-lg-center {
      -ms-flex-item-align: center!important;
      -ms-grid-row-align: center!important;
      align-self: center!important
  }
  .align-self-lg-baseline {
      -ms-flex-item-align: baseline!important;
      align-self: baseline!important
  }
  .align-self-lg-stretch {
      -ms-flex-item-align: stretch!important;
      -ms-grid-row-align: stretch!important;
      align-self: stretch!important
  }
}

@media(min-width:1200px) {
  .flex-xl-column,
  .flex-xl-row {
      -webkit-box-direction: normal!important
  }
  .flex-xl-row {
      -webkit-box-orient: horizontal!important;
      -ms-flex-direction: row!important;
      flex-direction: row!important
  }
  .flex-xl-column {
      -webkit-box-orient: vertical!important;
      -ms-flex-direction: column!important;
      flex-direction: column!important
  }
  .flex-xl-row-reverse {
      -webkit-box-orient: horizontal!important;
      -webkit-box-direction: reverse!important;
      -ms-flex-direction: row-reverse!important;
      flex-direction: row-reverse!important
  }
  .flex-xl-column-reverse {
      -webkit-box-orient: vertical!important;
      -webkit-box-direction: reverse!important;
      -ms-flex-direction: column-reverse!important;
      flex-direction: column-reverse!important
  }
  .flex-xl-wrap {
      -ms-flex-wrap: wrap!important;
      flex-wrap: wrap!important
  }
  .flex-xl-nowrap {
      -ms-flex-wrap: nowrap!important;
      flex-wrap: nowrap!important
  }
  .flex-xl-wrap-reverse {
      -ms-flex-wrap: wrap-reverse!important;
      flex-wrap: wrap-reverse!important
  }
  .flex-xl-fill {
      -webkit-box-flex: 1!important;
      -ms-flex: 1 1 auto!important;
      flex: 1 1 auto!important
  }
  .flex-xl-grow-0 {
      -webkit-box-flex: 0!important;
      -ms-flex-positive: 0!important;
      flex-grow: 0!important
  }
  .flex-xl-grow-1 {
      -webkit-box-flex: 1!important;
      -ms-flex-positive: 1!important;
      flex-grow: 1!important
  }
  .flex-xl-shrink-0 {
      -ms-flex-negative: 0!important;
      flex-shrink: 0!important
  }
  .flex-xl-shrink-1 {
      -ms-flex-negative: 1!important;
      flex-shrink: 1!important
  }
  .justify-content-xl-start {
      -webkit-box-pack: start!important;
      -ms-flex-pack: start!important;
      justify-content: flex-start!important
  }
  .justify-content-xl-end {
      -webkit-box-pack: end!important;
      -ms-flex-pack: end!important;
      justify-content: flex-end!important
  }
  .justify-content-xl-center {
      -webkit-box-pack: center!important;
      -ms-flex-pack: center!important;
      justify-content: center!important
  }
  .justify-content-xl-between {
      -webkit-box-pack: justify!important;
      -ms-flex-pack: justify!important;
      justify-content: space-between!important
  }
  .justify-content-xl-around {
      -ms-flex-pack: distribute!important;
      justify-content: space-around!important
  }
  .align-items-xl-start {
      -webkit-box-align: start!important;
      -ms-flex-align: start!important;
      align-items: flex-start!important
  }
  .align-items-xl-end {
      -webkit-box-align: end!important;
      -ms-flex-align: end!important;
      align-items: flex-end!important
  }
  .align-items-xl-center {
      -webkit-box-align: center!important;
      -ms-flex-align: center!important;
      align-items: center!important
  }
  .align-items-xl-baseline {
      -webkit-box-align: baseline!important;
      -ms-flex-align: baseline!important;
      align-items: baseline!important
  }
  .align-items-xl-stretch {
      -webkit-box-align: stretch!important;
      -ms-flex-align: stretch!important;
      align-items: stretch!important
  }
  .align-content-xl-start {
      -ms-flex-line-pack: start!important;
      align-content: flex-start!important
  }
  .align-content-xl-end {
      -ms-flex-line-pack: end!important;
      align-content: flex-end!important
  }
  .align-content-xl-center {
      -ms-flex-line-pack: center!important;
      align-content: center!important
  }
  .align-content-xl-between {
      -ms-flex-line-pack: justify!important;
      align-content: space-between!important
  }
  .align-content-xl-around {
      -ms-flex-line-pack: distribute!important;
      align-content: space-around!important
  }
  .align-content-xl-stretch {
      -ms-flex-line-pack: stretch!important;
      align-content: stretch!important
  }
  .align-self-xl-auto {
      -ms-flex-item-align: auto!important;
      -ms-grid-row-align: auto!important;
      align-self: auto!important
  }
  .align-self-xl-start {
      -ms-flex-item-align: start!important;
      align-self: flex-start!important
  }
  .align-self-xl-end {
      -ms-flex-item-align: end!important;
      align-self: flex-end!important
  }
  .align-self-xl-center {
      -ms-flex-item-align: center!important;
      -ms-grid-row-align: center!important;
      align-self: center!important
  }
  .align-self-xl-baseline {
      -ms-flex-item-align: baseline!important;
      align-self: baseline!important
  }
  .align-self-xl-stretch {
      -ms-flex-item-align: stretch!important;
      -ms-grid-row-align: stretch!important;
      align-self: stretch!important
  }
}


.no-margin {
  margin: 0!important
}
.m-t-5 {
  margin-top: 5px!important
}

.p-t-5 {
  padding-top: 5px!important
}

.m-b-5 {
  margin-bottom: 5px!important
}

.p-b-5 {
  padding-bottom: 5px!important
}

.m-l-5 {
  margin-left: 5px!important
}

.p-l-5 {
  padding-left: 5px!important
}

.m-r-5 {
  margin-right: 5px!important
}

.p-r-5 {
  padding-right: 5px!important
}

.m-t-10 {
  margin-top: 10px!important
}

.p-t-10 {
  padding-top: 10px!important
}

.m-b-10 {
  margin-bottom: 10px!important
}

.p-b-10 {
  padding-bottom: 10px!important
}

.m-l-10 {
  margin-left: 10px!important
}

.p-l-10 {
  padding-left: 10px!important
}

.m-r-10 {
  margin-right: 10px!important
}

.p-r-10 {
  padding-right: 10px!important
}

.m-t-15 {
  margin-top: 15px!important
}

.p-t-15 {
  padding-top: 15px!important
}

.m-b-15 {
  margin-bottom: 15px!important
}

.p-b-15 {
  padding-bottom: 15px!important
}

.m-l-15 {
  margin-left: 15px!important
}

.p-l-15 {
  padding-left: 15px!important
}

.m-r-15 {
  margin-right: 15px!important
}

.p-r-15 {
  padding-right: 15px!important
}

.m-t-20 {
  margin-top: 20px!important
}

.p-t-20 {
  padding-top: 20px!important
}

.m-b-20 {
  margin-bottom: 20px!important
}

.p-b-20 {
  padding-bottom: 20px!important
}

.m-l-20 {
  margin-left: 20px!important
}

.p-l-20 {
  padding-left: 20px!important
}

.m-r-20 {
  margin-right: 20px!important
}

.p-r-20 {
  padding-right: 20px!important
}

.m-t-25 {
  margin-top: 25px!important
}

.p-t-25 {
  padding-top: 25px!important
}

.m-b-25 {
  margin-bottom: 25px!important
}

.p-b-25 {
  padding-bottom: 25px!important
}

.m-l-25 {
  margin-left: 25px!important
}

.p-l-25 {
  padding-left: 25px!important
}

.m-r-25 {
  margin-right: 25px!important
}

.p-r-25 {
  padding-right: 25px!important
}

.m-t-30 {
  margin-top: 30px!important
}

.p-t-30 {
  padding-top: 30px!important
}

.m-b-30 {
  margin-bottom: 30px!important
}

.p-b-30 {
  padding-bottom: 30px!important
}

.m-l-30 {
  margin-left: 30px!important
}

.p-l-30 {
  padding-left: 30px!important
}

.m-r-30 {
  margin-right: 30px!important
}

.p-r-30 {
  padding-right: 30px!important
}

.m-t-35 {
  margin-top: 35px!important
}

.p-t-35 {
  padding-top: 35px!important
}

.m-b-35 {
  margin-bottom: 35px!important
}

.p-b-35 {
  padding-bottom: 35px!important
}

.m-l-35 {
  margin-left: 35px!important
}

.p-l-35 {
  padding-left: 35px!important
}

.m-r-35 {
  margin-right: 35px!important
}

.p-r-35 {
  padding-right: 35px!important
}

.m-t-40 {
  margin-top: 40px!important
}

.p-t-40 {
  padding-top: 40px!important
}

.m-b-40 {
  margin-bottom: 40px!important
}

.p-b-40 {
  padding-bottom: 40px!important
}

.m-l-40 {
  margin-left: 40px!important
}

.p-l-40 {
  padding-left: 40px!important
}

.m-r-40 {
  margin-right: 40px!important
}

.p-r-40 {
  padding-right: 40px!important
}

.m-t-45 {
  margin-top: 45px!important
}

.p-t-45 {
  padding-top: 45px!important
}

.m-b-45 {
  margin-bottom: 45px!important
}

.p-b-45 {
  padding-bottom: 45px!important
}

.m-l-45 {
  margin-left: 45px!important
}

.p-l-45 {
  padding-left: 45px!important
}

.m-r-45 {
  margin-right: 45px!important
}

.p-r-45 {
  padding-right: 45px!important
}

.m-t-50 {
  margin-top: 50px!important
}

.p-t-50 {
  padding-top: 50px!important
}

.m-b-50 {
  margin-bottom: 50px!important
}

.p-b-50 {
  padding-bottom: 50px!important
}

.m-l-50 {
  margin-left: 50px!important
}

.p-l-50 {
  padding-left: 50px!important
}

.m-r-50 {
  margin-right: 50px!important
}

.p-r-50 {
  padding-right: 50px!important
}

.m-t-75 {
  margin-top: 75px!important
}

.p-t-75 {
  padding-top: 75px!important
}

.m-b-75 {
  margin-bottom: 75px!important
}

.p-b-75 {
  padding-bottom: 75px!important
}

.m-l-75 {
  margin-left: 75px!important
}

.p-l-75 {
  padding-left: 75px!important
}

.m-r-75 {
  margin-right: 75px!important
}

.p-r-75 {
  padding-right: 75px!important
}

.m-t-100 {
  margin-top: 100px!important
}

.p-t-100 {
  padding-top: 100px!important
}

.m-b-100 {
  margin-bottom: 100px!important
}

.p-b-100 {
  padding-bottom: 100px!important
}

.m-l-100 {
  margin-left: 100px!important
}

.p-l-100 {
  padding-left: 100px!important
}

.m-r-100 {
  margin-right: 100px!important
}

.p-r-100 {
  padding-right: 100px!important
}
